<% @profiles.each do |pro| %>
    <tr>
        <td><%= pro.first_name %></td>
        <td><%= pro.last_name %></td>
        <td><%= pro.birthdate %></td>
        <td><%= pro.profileable_type %></td>
        <td><%= pro.email %></td>
        <td><%= link_to 'Show', profile_path(pro) %></td>
        <td><%= link_to 'Edit', edit_profile_path(pro) %></td>
        <td><%= link_to 'Destroy', profile_path(pro),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>