<h1>Create New Profile</h1>
<div>
    <button>Student</button>
    <button>Instructor</button>
    <button>Admin</button>
</div>
<br>
<%= form_with scope: :profile, url: profiles_path, local: true do |form| %>
    <%= form.text_field :first_name, placeholder: "Enter First Name"%>
    <%= form.text_field :last_name, placeholder: "Enter Last Name"%>
    <%= date_field(:profile, :birthdate) %>
    <%= form.text_field :email, placeholder: "Enter Email" %>
    <%= select(:profile, :profileable_type, @profile_options) %>
    <%= form.submit %>
<% end %>