<h1><%= @admin.profile.first_name %> <%= @admin.profile.last_name %></h1>
<p><strong>Profile Type:</strong> <%= @admin.profile.profileable_type %></p>
<p><strong>Birthdate:</strong> <%= @admin.profile.birthdate %></p>
<p><strong>Salary:</strong> <%= @admin.salary %></p>
<p><strong>Edu:</strong> <%= @admin.edu %></p>
<p><strong>Email:</strong> <%= @admin.profile.email %></p>
</ul>
