<h1>Edit Student Profile</h1>

<%= form_for @student do |f|%>
    <%= fields_for :profile, @student.profile do |p| %>
        <%= p.text_field :first_name %>
        <%= p.text_field :last_name %>
        <%= p.text_field :email %>
        <%= p.text_field :photo_url %>
        <%= p.text_field :password %>
    <% end %>
    <%= f.text_field :background %>
    <%= f.button :submit %>
<% end %>