<h1>Create New Instructor</h1>

<%= form_for @instructor do |f|%>
    <%= fields_for :profile, @instructor.profile do |p| %>
        <%= p.text_field :first_name, placeholder: "Enter First Name" %>
        <%= p.text_field :last_name, placeholder: "Enter Last Name" %>
        <%= date_field(:profile, :birthdate) %>
        <%= p.text_field :email, placeholder: "Enter Email" %>
        <%= p.text_field :photo_url, placeholder: "Enter Photo URL" %>
        <%= p.text_field :password, placeholder: "Enter Temp Password" %>
    <% end %>
    <%= f.text_field :salary, placeholder: "Enter Salary" %>
    <%= f.text_field :edu, placeholder: "Enter Education Level" %>
    <%= f.button :submit %>
<% end %>